<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Introdução ao Vue JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="main.js"></script>
    <!-- Chamada para a utilizacao do Vue JS -->
    
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <!-- Utilizando o v-bind para manipular variaveis do javascript dentro do componente do Vue -->
        <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>
        <!-- Usar o v-model para alterar os parametros -->
        <input type="text" v-model="meuTitulo">

        <gui-tabela v-bind:titulos="['Titulos', 'Registos', 'Link']" v-bind:registros="registros"></gui-tabela>

        <!-- O v-once faz com que o componente não mude mais de valor, depois que ele ja foi renderizado -->
        <p v-once>{{meuTitulo}}</p>
        <p v-html="html"></p>
    </div>
    
    <script type="text/javascript">

        //Criando componente titulo
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: '<h2>{{ titulo }}</h2>',
            }
        );

        //Criando componente de tabela
        Vue.component('gui-tabela', {
            props: ['titulos','registros'],
            template: '<table width="100%" border="1">'+
            '<thead>'+
                '<tr>'+
                    '<th v-for="titulo in titulos">'+
                        '{{titulo}}'+
                    '</th>'+
                '</tr>'+
            '</thead>'+
            '<tbody>'+
                '<tr v-for="registro in registros">'+
                    '<td v-for="item in registro">'+
                        '{{item}}'+
                    '</td>'+
                '</tr>'+
            '</tbody>'+
        '</table>'
            }
        );

        var app = new Vue({
            el:"#app",
            //As variaveis criadas aqui seram renderizadas dentro do corpo do HTML
            // DATA cria as variaveis com dados
            data: {
                meuTitulo: 'Este eh o novo titulo',
                registros: [
                    {
                    titulo: 'titulo 1',
                    descricao: 'descricao 1',
                    link: 'google.com.br'
                    },
                    {
                    titulo: 'titulo 2',
                    descricao: 'descricao 2',
                    link: 'facebook.com.br'
                    },
                    {
                    titulo: 'titulo 3',
                    descricao: 'descricao 3',
                    link: 'instagran.com.br'
                    },
                ],
                html: '<a href="#"> Este eh um link</a>'
            }
        });
    </script>

    
</body>
</html>